
 /* using css to import external  */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    padding: 10%;
    font-size: 2rem;
    font-family:'Roboto';

}
/* input, button {
    font:inherit;
} */

p{
    /* text-decoration: underline; */
    /* text-transform: capitalize; */
    /* text-align: justify; */
    /* text-indent: 2em; */
    /* line-height: 1.5; */
    letter-spacing: 1.5;
    /* word-spacing: 0.5em; */
    /* font-weight: bold; */
    /* font-size: 2rem; */
}